spring:
  datasource:
    url: "jdbc:${DATABASE_URL}"
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always
server:
  port: ${PORT:8080}
